@import "/app/variables.scss";

.step {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  align-items: center;
  gap: 50px;

  &:nth-child(odd) {
    flex-direction: row-reverse;

    @media screen and (max-width: 950px) {
      flex-direction: column;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  @media (max-width: 950px) {
    flex-direction: column-reverse;
    gap: 10px;
    margin-bottom: 10px;

    &:nth-child(odd) {
      flex-direction: column-reverse;
    }
  }
}
