//FONTS
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap");

$txt-main: "Noto Sans", sans-serif;
$txt-title: "Caveat Brush", cursive;

//Backgrounds

$bck_main: #f8cc5d;
$bck_email: #f8f4f9;
$bck_grey: #45565e;

//Text colors

$txt_white: #fff;
$txt_black: #1f343e;
$txt_grey: #6d7a80;
$txt_blue-hover: #4eb3e3;
