.container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;

  h4 {
    margin-bottom: 10px;
  }
}

.contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  p {
    font-size: 12px;
  }
}

.socials {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
}

.icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  display: flex;
  background-color: green;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.icon:hover {
  background-color: black;
}

@media only screen and (max-width: 975px) {
  .container {
    flex-direction: column;
  }
}